//
//  {{ prefix }}. {{ module_info.name }}{{ module_info.file_name }}
//  {{ module_info.project_name }}
//
//  Created by {{ developer.name }} on {{ date }}.
//  Copyright © {{ year }} {{ developer.company }}. All rights reserved.
//

import Foundation
import UIKit

class {{ prefix }}{{ module_info.name }}Router: {{ prefix }}{{ module_info.name }}Wireframe {
    weak var viewController: UIViewController?
    
    static func assembleModule() -> UIViewController {
        let view = UIStoryboard(name: "{{ prefix }}{{ module_info.name }}", bundle: nil).instantiateViewController(withIdentifier: "{{ prefix }}{{ module_info.name }}ViewController") as! {{ prefix }}{{ module_info.name }}ViewController
        let presenter = {{ prefix }}{{ module_info.name }}Presenter()
        let interactor = {{ prefix }}{{ module_info.name }}Interactor()
        let router = {{ prefix }}{{ module_info.name }}Router()
        
        view.presenter = presenter
        
        presenter.view = view
        presenter.interactor = interactor
        presenter.router = router
        
        interactor.output = presenter
        
        router.viewController = view
        
        return view
    }
    
}
