//
//  {{ prefix }}{{ module_info.name }}{{ module_info.file_name }}
//  {{ module_info.project_name }}
//
//  Created by {{ developer.name }} on {{ date }}.
//  Copyright © {{ year }} {{ developer.company }}. All rights reserved.
//

import Foundation

class {{ prefix }}{{ module_info.name }}Presenter : {{ prefix }}{{ module_info.name }}Presentation {
    weak var view: {{ prefix }}{{ module_info.name }}View?
    var interactor: {{ prefix }}{{ module_info.name }}Interaction!
    var router: {{ prefix }}{{ module_info.name }}Wireframe!
    
    
}

extension {{ prefix }}{{ module_info.name }}Presenter: {{ prefix }}{{ module_info.name }}InteractorOutput{
    
    func apiError(error: String?){
        view?.hideActivityIndicator()
        view?.showError(title: "API_ERROR_TITLE".localized(), msg: error ?? "API_ERROR_SUBTITLE".localized(), image: "serverError", textButton: "API_ERROR_BUTTON".localized(), nextStep: {
        })
    }
    
    func apiNetworkError(){
        view?.hideActivityIndicator()
        view?.showError(title: "API_ERROR_TITLE".localized(), msg: "API_ERROR_SUBTITLE".localized(), image: "serverError", textButton: "API_ERROR_BUTTON".localized(), nextStep: {
        })
    }
    
}
