//
//  {{ prefix }}{{ module_info.name }}{{ module_info.file_name }}
//  {{ module_info.project_name }}
//
//  Created by {{ developer.name }} on {{ date }}.
//  Copyright © {{ year }} {{ developer.company }}. All rights reserved.
//

import Foundation
import XCTest

class {{ prefix }}{{ module_info.name }}InteractorTest: XCTestCase{
    
    var {{ module_info.name | downcase }}Interactor: {{ prefix }}{{ module_info.name }}Interactor!
    override func setUp() {
        super.setUp()
        {{ module_info.name | downcase }}Interactor = {{ prefix }}{{ module_info.name }}Interactor()
    }
    
    override func tearDown() {
        super.tearDown()
        {{ module_info.name | downcase }}Interactor = nil
        Mocks.shared.removeMocks()
    }
}

class Mock{{ prefix }}{{ module_info.name }}InteractorOutput: InteractorOutputTest, {{ prefix }}{{ module_info.name }}InteractorOutput {
    
}
