//
//  {{ prefix }}{{ module_info.name }}{{ module_info.file_name }}
//  {{ module_info.project_name }}
//
//  Created by {{ developer.name }} on {{ date }}.
//  Copyright © {{ year }} {{ developer.company }}. All rights reserved.
//


import Foundation
import XCTest

class {{ prefix }}{{ module_info.name }}PresenterTest: XCTestCase {
    var {{ module_info.name | downcase }}Presenter: {{ prefix }}{{ module_info.name }}Presenter!
    var mock{{ prefix }}{{ module_info.name }}View: Mock{{ prefix }}{{ module_info.name }}View!
    var mock{{ prefix }}{{ module_info.name }}Interactor: Mock{{ prefix }}{{ module_info.name }}Interactor!
    override func setUp() {
        super.setUp()
        {{ module_info.name | downcase }}Presenter = {{ prefix }}{{ module_info.name }}Presenter()
        mock{{ prefix }}{{ module_info.name }}View = Mock{{ prefix }}{{ module_info.name }}View()
        mock{{ prefix }}{{ module_info.name }}Interactor = Mock{{ prefix }}{{ module_info.name }}Interactor()
        {{ module_info.name | downcase }}Presenter.view = mock{{ prefix }}{{ module_info.name }}View
        {{ module_info.name | downcase }}Presenter.interactor = mock{{ prefix }}{{ module_info.name }}Interactor
    }
    
    override func tearDown() {
        super.tearDown()
        {{ module_info.name | downcase }}Presenter = nil
    }
    
}
class Mock{{ prefix }}{{ module_info.name }}View : IndicatableViewTest, {{ prefix }}{{ module_info.name }}View {
    var presenter: {{ prefix }}{{ module_info.name }}Presentation!
}

class Mock{{ prefix }}{{ module_info.name }}Interactor : {{ prefix }}{{ module_info.name }}Interaction {
    weak var output: {{ prefix }}{{ module_info.name }}InteractorOutput?
}