//
//  {{ prefix }}{{ module_info.name }}{{ module_info.file_name }}
//  {{ module_info.project_name }}
//
//  Created by {{ developer.name }} on {{ date }}.
//  Copyright © {{ year }} {{ developer.company }}. All rights reserved.
//

import Foundation
import XCTest

class {{ prefix }}{{ module_info.name }}ViewTest: XCTestCase{
    var mock{{ prefix }}{{ module_info.name }}Presenter: Mock{{ prefix }}{{ module_info.name }}Presenter!
    var controllerUnderTest: {{ prefix }}{{ module_info.name }}ViewController!
    override func setUp() {
        super.setUp()
        mock{{ prefix }}{{ module_info.name }}Presenter = Mock{{ prefix }}{{ module_info.name }}Presenter()
        controllerUnderTest = UIStoryboard(name: "{{ prefix }}{{ module_info.name }}Storyboard", bundle: nil).instantiateViewController(withIdentifier: "{{ prefix }}{{ module_info.name }}ViewController") as! {{ prefix }}{{ module_info.name }}ViewController
        controllerUnderTest.presenter = mock{{ prefix }}{{ module_info.name }}Presenter
        controllerUnderTest.loadViewIfNeeded()
    }
    
    override func tearDown() {
        super.tearDown()
        controllerUnderTest = nil
        mock{{ prefix }}{{ module_info.name }}Presenter = nil
    }
    
}
class Mock{{ prefix }}{{ module_info.name }}Presenter : {{ prefix }}{{ module_info.name }}Presentation {
    weak var view: {{ prefix }}{{ module_info.name }}View?
    var interactor: {{ prefix }}{{ module_info.name }}Interaction!
    
    var router: {{ prefix }}{{ module_info.name }}Wireframe!
    
    func viewDidLoad() {
        
    }
}

