//
//  {{ prefix }}{{ module_info.name }}{{ module_info.file_name }}
//  {{ module_info.project_name }}
//
//  Created by {{ developer.name }} on {{ date }}.
//  Copyright © {{ year }} {{ developer.company }}. All rights reserved.
//

import Foundation
import UIKit

protocol {{ prefix }}{{ module_info.name }}View: IndicatableView {
     var presenter: {{ prefix }}{{ module_info.name }}Presentation! { get set }
}


protocol {{ prefix }}{{ module_info.name }}Presentation: class {
    var view: {{ prefix }}{{ module_info.name }}View? { get set }
    var interactor: {{ prefix }}{{ module_info.name }}Interaction! { get set }
    var router: {{ prefix }}{{ module_info.name }}Wireframe! { get set }
    
}

protocol {{ prefix }}{{ module_info.name }}Interaction: class {
    var output: {{ prefix }}{{ module_info.name }}InteractorOutput? { get set }
}

protocol {{ prefix }}{{ module_info.name }}InteractorOutput : ApiResponseProtocol {
    
}

protocol {{ prefix }}{{ module_info.name }}Wireframe: class {
    var viewController: UIViewController? { get set }
    static func assembleModule() -> UIViewController
}