<?xml version="1.0" encoding="UTF-8"?>
<document type="com.apple.InterfaceBuilder3.CocoaTouch.Storyboard.XIB" version="3.0" toolsVersion="13771" targetRuntime="iOS.CocoaTouch" propertyAccessControl="none" useAutolayout="YES" useTraitCollections="YES" useSafeAreas="YES" colorMatched="YES">
    <device id="retina4_7" orientation="portrait">
        <adaptation id="fullscreen"/>
    </device>
    <dependencies>
        <deployment identifier="iOS"/>
        <plugIn identifier="com.apple.InterfaceBuilder.IBCocoaTouchPlugin" version="13772"/>
        <capability name="Safe area layout guides" minToolsVersion="9.0"/>
        <capability name="documents saved in the Xcode 8 format" minToolsVersion="8.0"/>
    </dependencies>
    <scenes>
        <!--{{ prefix }}{{ module_info.name }} View Controller-->
        <scene sceneID="EYe-W8-7xG">
            <objects>
                <viewController storyboardIdentifier="{{ prefix }}{{ module_info.name }}ViewController" id="3jF-1T-BYu" userLabel="{{ prefix }}{{ module_info.name }} View Controller" customClass="{{ prefix }}{{ module_info.name }}ViewController" customModule="jumpDev" customModuleProvider="target" sceneMemberID="viewController">
                    <view key="view" contentMode="scaleToFill" id="F1R-gT-qCI">
                        <rect key="frame" x="0.0" y="0.0" width="375" height="667"/>
                        <autoresizingMask key="autoresizingMask" widthSizable="YES" heightSizable="YES"/>
                        <subviews>
                            <view contentMode="scaleToFill" translatesAutoresizingMaskIntoConstraints="NO" id="X6Q-Ep-tIE" userLabel="Margin View">
                                <rect key="frame" x="21.5" y="343.5" width="331" height="0.0"/>
                                <color key="backgroundColor" white="1" alpha="1" colorSpace="custom" customColorSpace="genericGamma22GrayColorSpace"/>
                                <constraints>
                                    <constraint firstAttribute="height" id="JIN-hn-O09"/>
                                </constraints>
                            </view>
                        </subviews>
                        <color key="backgroundColor" white="1" alpha="1" colorSpace="custom" customColorSpace="genericGamma22GrayColorSpace"/>
                        <constraints>
                            <constraint firstItem="X6Q-Ep-tIE" firstAttribute="centerX" secondItem="Mgn-IR-ten" secondAttribute="centerX" id="1Vw-Sv-aGg"/>
                            <constraint firstItem="X6Q-Ep-tIE" firstAttribute="centerY" secondItem="Mgn-IR-ten" secondAttribute="centerY" id="Dcn-JT-moH"/>
                            <constraint firstItem="X6Q-Ep-tIE" firstAttribute="width" secondItem="F1R-gT-qCI" secondAttribute="width" constant="-44" id="ThC-2F-zfE"/>
                        </constraints>
                        <viewLayoutGuide key="safeArea" id="Mgn-IR-ten"/>
                    </view>
                    <connections>
                        <outlet property="marginHorizontalConstraint" destination="ThC-2F-zfE" id="53r-un-18P"/>
                    </connections>
                </viewController>
                <placeholder placeholderIdentifier="IBFirstResponder" id="aOT-2N-wwZ" userLabel="First Responder" sceneMemberID="firstResponder"/>
            </objects>
            <point key="canvasLocation" x="-50" y="268"/>
        </scene>
    </scenes>
</document>
