//
//  {{ prefix }}{{ module_info.name }}{{ module_info.file_name }}
//  {{ module_info.project_name }}
//
//  Created by {{ developer.name }} on {{ date }}.
//  Copyright © {{ year }} {{ developer.company }}. All rights reserved.
//

import Foundation
import UIKit

class {{ prefix }}{{ module_info.name }}ViewController: UIViewController, {{ module_info.name }}View {
    
    var presenter: {{ prefix }}{{ module_info.name }}Presentation!
    
    override func viewDidLoad() {
        super.viewDidLoad()
    }
}