//
//  {{ prefix }}{{ module_info.name }}{{ module_info.file_name }}
//  {{ module_info.project_name }}
//
//  Created by {{ developer.name }} on {{ date }}.
//  Copyright © {{ year }} {{ developer.company }}. All rights reserved.
//

import Foundation

class {{ prefix }}{{ module_info.name }}Interactor: {{ prefix }}{{ module_info.name }}Interaction{
    
    weak var output: {{ prefix }}{{ module_info.name }}InteractorOutput?
    
}
